*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-container{
    background-color: rgb(255, 253, 242);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.hero{
    background-color: #fff2af;
    border-radius: 40px;
    margin: 30px;
    min-height: 70vh;
    width: 70%;
    text-align: center;
    padding: 120px 20px;
}

.hero h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p{
    font-size: 1.3rem;
}

.hero button{
    background-color: rgba(92,74,0,0.7);;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
}

.hero button:hover{
    background-color: #8B6B1F;
}


.studentshowcase{
    text-align: center;
    padding: 120px 20px;
    background-color: #fff2af
}

.studentshowcase p{
    font-size: 1.3rem;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card{
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.card img{
    width: 100%;
    object-fit: cover;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(92,74,0,0.7);
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.35s ease;
    box-sizing: border-box;
}

.card:hover .overlay{
    transform: translateY(0);
}

.card.tall img{
    height: 300px;
}

.card.short img{
    height: 200px;
}

.endpage{
    height: 100vh;
    text-align: center;
    padding: 120px 20px;
}

.endpage p{
    font-size: 1.3rem;
}

.endpage{
    background-color: #fff2af;
    font-family: Arial, Helvetica, sans-serif;

    background-image: repeating-linear-gradient(
        to right,
        #fff2af 0px,
        #fff2af 80px,
        #ffed93 80px,
        #ffed93 170px
    );
}

.endpage{
    height: 100vh;
    text-align: center;
    padding: 120px 20px;
}