.tutorials-container{
    width:100%;
    padding: 60px 20px;
    background-color: #fff2af;
}

.tutorials-header{
    text-align:center;
    margin-bottom: 30px;
}

.dashboard-layout{
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.video-player-glass{
    flex: 1.2;
    padding: 15px;
    background: #ffff;
}

.video-wrapper{
    position:relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    background: #000;
}

.video-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-info{
    margin-top: 15px;
}

.video-selection-box{
    flex: 1;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    max-height: 60vh;
    overflow: auto;
}

.category-row{
    margin-bottom: 20px;
}

.video-strip{
    display: flex;
    gap: 15px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.video-card{
    min-width: 130px;
    max-width: 1300px;
    cursor: pointer;
}

.thumbnail-placeholder{
    width: 100%;
    height: 80%;
    background-color: #5e4237;
    position: relative;
}

.thumbnail-placeholder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 968px){
    .dashboard-layout{
        flex-direction: column;
    }
    .video-selection-box{
        max-width: none;
    }
}
